# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# Distribution / Packaging
build/
dist/
*.egg-info/

# Unit test / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# IDEs
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Python cache
.mypy_cache/
.ruff_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Temporary files
*.tmp
*.bak